/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 3rem;
  background: linear-gradient(45deg, #2c3e50, #34495e);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  height: 60px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-logo .logo {
 height: 170px;
 width: 170px;
 object-fit: contain;
 filter: brightness(1);
}



.navbar-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-links li a:hover {
  color: #f3d250;
  transform: scale(1.05);
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.menu-toggle:hover {
  color: #f3d250;
}

/* Responsive Navbar */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 64px;
    right: 0;
    background-color: #2c3e50;
    width: 100%;
    padding: 1rem;
  }

  .navbar-links.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
